<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9MvDoZCdpYnMORfwDI7CiRqxLYC_Or6M</string>
	<key>GCM_SENDER_ID</key>
	<string>389851196491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xiaophim.2ghw</string>
	<key>PROJECT_ID</key>
	<string>xiaofilmnhe</string>
	<key>STORAGE_BUCKET</key>
	<string>xiaofilmnhe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389851196491:ios:261e98a3fe1fd4c46bf1ce</string>
</dict>
</plist>